@import 'tailwindcss';

.game-phase,
.center-card-area,
.player-card-area,
.table-area,
.candidate-area {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card,
.seat,
.player {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;

}

.player {
    border: 4px solid transparent;
}

/* Show badge when marked ready */
.selected,
.player.ready {
    border-color: black;
    border-style: solid;
}

.card {
    border-style: solid;
}

.color-red {
    background-color: red;
}

.color-orange {
    background-color: orange;
}

.color-yellow {
    background-color: yellow;
}

.color-green {
    background-color: green;
}

.color-cyan {
    background-color: cyan;
}

.color-blue {
    background-color: blue;
}

.color-purple {
    background-color: purple;
}

.color-pink {
    background-color: pink;
}